
* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    color: #393f47;
    // font-family: 'MPLUS1p-Regular';
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    line-height: 1.5;
    position: relative;
}

body.noscroll {
    overflow: hidden;
}

#page-nav {
    display: none;

    @media (min-width: 768px) {

    }

    @media (min-width: 1200px) {
        display: block;
        position: fixed;
        right: 100px;
        top: 50%;
        transform: translateY(-50%);
        z-index: 100;
    }
}

#page-nav li {
    width: 15px;
    height: 15px;
    background-color: #66b3da;
    border-radius: 50%;
    margin-bottom: 25px;
    transition: .5s;
}

#page-nav li a {
    display: block;
    height: 100%;
}

#page-nav li.active {
    background-color: #ea736d;
}

a, a:hover {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

h1, h2, h3, h4, h5, p {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

button, input {
    outline: none;
}

button {
    cursor: pointer;
}

.container {
    max-width: 500px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;

    @media (min-width: 768px) {
        max-width: 1000px;
        padding-left: 30px;
        padding-right: 30px;
    }

    @media (min-width: 1200px) {
        max-width: 1200px;
        padding-left: 15px;
        padding-right: 15px;
    }
}

.section__title {
    display: inline-block;
    text-align: center;
    position: relative;
    font-size: 42px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    color: #000;
    z-index: 1;

    &::before {
        position: absolute;
        content: "";
        left: -3px;
        right: -3px;
        bottom: 10px;
        height: 12px;
        background-color: #fbdc4d;
        z-index: -1;
    }

    @media (min-width: 768px) {
        font-size: 52px;

        &::before {
            bottom: 14px;
        }
    }

    @media (min-width: 1200px) {
        font-size: 64px;

        &::before {
            bottom: 18px;
        }
    }
}

.header-info {
    font-size: 30px;
    line-height: 1;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    color: #000;

    @media (min-width: 768px) {
        font-size: 32px;   
    }

    @media (min-width: 1200px) {
        font-size: 40px;
    }
}

.title-info {
    // margin-bottom: 10px;
    display: inline-block;
    position: relative;
    z-index: 3;
    font-size: 20px;
    line-height: 1.1;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    color: #000;

    @media (min-width: 768px) {
        font-size: 22px;
    }
        
    @media (min-width: 1200px) {
        font-size: 24px;

        &::before {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0px;
            content: "";
            height: 7px;
            background-color: #fbdc4d;
            z-index: -1;
        }
    }
}

.title-center {
    text-align: center;
}

.none {
    display: none;
}

