.footer-inner {
    padding-top: 40px;
    position: relative;
    display: flex;
    justify-content: center;
}

.footer-inner__content {
    position: absolute;
    text-align: center;
}

.footer-inner__header {
    font-family: 'Roboto', sans-serif;
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 10px;
    color: #161616;
}

.footer-inner__visit {
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-weight: 100;
    letter-spacing: 0.4px;
    color: #161616;
}

.visit-link {
    color: #4298e8;
    border-bottom: 1px solid #4298e8;

    &:hover {
        color: #ea736d;
        border-bottom: 1px solid #ea736d;
    }

    &:active {
        color: #ea736d;
        border-bottom: 1px solid #ea736d;
    }
}

.block-socials.block-socials--footer-inner {
    justify-content: center;
}

.footer-inner__img-wrapper {
    max-width: 1600px;
}


