.portfolio-card {
    width: 33%;
    max-width: 360px;
    margin-bottom: 60px;

    &:first-child, &:nth-child(2) {
        width: 48%;
        max-width: 556px;
    }

    &:last-child {
        margin-bottom: 0;
    }

    &:nth-last-child(2) {
        margin-bottom: 0;
    }

    &:nth-last-child(3) {
        margin-bottom: 0;
    }
}

.portfolio-card__img {
    position: relative;
    display: block;
    margin-bottom: 20px;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(251, 220, 77, 0.8);
        display: none;
    }  

    &:hover::before {
        display: block;
    }
}

.card-link {
    font-size: 26px;
    font-family: 'MPLUS1p-Bold';
    color: #000;
    transition: 0.3s ease-out;

    &:hover, &:active {
        color: #ed574f;
        border-bottom: 1px solid #ed574f;
    }
}

.card-link.card-link--big {
    font-size: 32px;
}

.portfolio-card__desc {
    font-size: 20px;
    font-family: 'MPLUS1p-Light';
}

.portfolio-card__desc.portfolio-card__desc--big {
    font-size: 22px;
}