.section-contacts {
    padding-top: 130px;

    background-image: url(../img/bg/line-dark.jpg);
    background-repeat: repeat-y;
    background-color: #f4f8f9;
}

.section-contacts__title {
    margin-bottom: 60px;
}

.contacts-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 150px;
}

.contacts__content {
    position: relative;
    width: 510px;
    text-align: left;
    z-index: 20;
}

.contacts__text {
    margin-bottom: 35px;
    padding-top: 20px;

    font-size: 20px;
    line-height: 1.6;
    color: #000;
}

.contacts__text p {
    margin-bottom: 15px;
}

.contacts__list {
    margin-bottom: 35px;
}

.contacts__list-item {
    margin-bottom: 20px;

    &:last-child {
        margin-bottom: 0;
    }
}

.service {
    display: inline-block;
    width: 195px;

    font-size: 20px;
    font-family: 'MPLUS1p-Bold';
    color: #000;
}

.service-link {
    font-size: 20px;
    font-family: 'MPLUS1p-Medium';
    color: #039be5;

    &:hover {
        color: #ea736d;
        border-bottom: 1px solid #ea736d;
    }

    &:active {
        color: #ea736d;
        border-bottom: 1px solid #ea736d;
    }
}

.service-data {
    font-size: 20px;
    font-family: 'MPLUS1p-Medium';
    color: #96969d;
}

.contacts-form__wrapper {
    margin-right: 20px;
    width: 510px;
    padding: 60px 60px 40px;
    background-color: #fff;
    box-shadow: 0px 28px 100px 0px rgba(194, 219, 235, 0.5); 
}

.contacts__input-wrapper {
    position: relative;
    margin-bottom: 50px;
}

.contacts__input-wrapper.contacts__input-wrapper--textarea {
    margin-bottom: 40px;
}

.input {
    width: 100%;
    height: 50px; 
    border: none;
    border-bottom: 2px solid #eaeaea;

    font-family: 'M PLUS 1p', sans-serif;
    font-size: 20px;
    font-family: 'MPLUS1p-Bold';
    color: #000;
    transition: 0.5s;

    &:hover {
        border-bottom: 2px solid #ea736d;
    }
}

.input.input--textarea {
    padding-top: 17px;
    padding-bottom: 17px;
    height: auto;
    resize: none;
    outline: none;
}

.fake-placeholder{
    top: 10px;
    left: 5px;
    position: absolute;
    font-size: 20px;
    font-family: 'MPLUS1p-Bold';
    color: #bcbcbc;
    pointer-events: none;
    transition: 0.3s;
}

.fake-placeholder.active {
    top: -10px;
    font-size: 16px;
    color: #ed9626;
}

.button.button--submit {
    border: none;
}

.error {
    font-size: 14px;
    color: #ff0000;
}

.contact-form__success {
    text-align: center;
    color: #008000;
}

.dots {
    position: absolute;
    left: -350px;
    z-index: -5;
}

.section-contacts__footer {
    padding-top: 20px;
    padding-bottom: 40px;
    background-color: #333333;  
}

.contact-footer__title {
    margin-bottom: 10px;

    font-size: 18px;
    font-family: 'MPLUS1p-Bold';
    color: #fff;
}

.section-contacts__footer p{
    font-size: 16px;
    color: #b0b0b0;
}

.contact-footer__link {
    font-family: 'MPLUS1p-Regular';
    font-size: 16px;
    color: #b0b0b0;
    border-bottom: 1px solid #b0b0b0;
    transition: 0.3s;

    &:hover {
        color: #fff;
        border-bottom: 1px solid #fff;
    }

    &:active {
        color: #fff;
        border-bottom: 1px solid #fff;
    }
}

.dark-line-bg {
    background-image: url(../img/bg/line-dark.jpg);
    background-repeat: repeat-y;
    background-color: #f4f8f9;
}

  
  