.section-header {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 25px;
    padding-bottom: 100px;
    overflow: hidden;

    @media (min-width: 768px) {
        padding-bottom: 50px;
    }

    @media (min-width: 1200px) {
        padding-top: 60px;
        padding-bottom: 240px;

        background-image: url(../img/bg/line.jpg);
        background-repeat: repeat-y;
        background-color: #fff;
    }
}

.section-header__content {
    position: relative;
    z-index: 20;
    display: flex;
    flex-direction: column;

    @media (min-width: 768px) {
        flex-direction: row-reverse;
        justify-content: space-between;
    }
}

.content-img {
    margin-bottom: 50px;
   
    @media (min-width: 768px) {
        display: flex;
        justify-content: center;
        z-index: 3;
        position: relative;
        width: 48%;

        margin-bottom: auto;
    }

    @media (min-width: 1200px) {
        width: 50%;
        justify-content: flex-end;
    }
}

.avatar-wrapper {
    position: relative;
    max-width: 457px;
    max-height: 410px;

    @media (min-width: 768px) {
        max-width: unset;
        max-height: unset;
        width: 86%;
        height: 86%;
        max-width: 380px;

        &:before {
            content: "";
            position: absolute;
            top: 20%;
            left: 17%;
            background-image: linear-gradient(0deg, rgba(244,248,249,0.5), rgba(244,248,249,0));
            width: 100%;
            height: 100%;
            z-index: -1;   
        }
    }

    @media (min-width: 1200px) {
        width: auto;
        height: auto;
        max-width: unset;

        &:before {
            top: 30%;
            left: 27%;
        }
    }
}

.content-desc {
    

    @media (min-width: 768px) {
        width: 48%;
    }

    @media (min-width: 1200px) {
        width: 50%;
    }
}

.content-desc__title {
    margin-bottom: 30px;
    font-size: 42px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    line-height: 1;
    color: #000;

    @media (min-width: 768px) {
        margin-bottom: 20px;
        font-size: 52px;
    }

    @media (min-width: 1200px) {
        margin-bottom: 20px;
        font-size: 90px;
    }
}

.content-desc__title span {
    line-height: 1;
}

.line-bottom {
    position: relative;
    z-index: 2;

    &::before {
        position: absolute;
        left: -5px;
        right: -5px;
        bottom: 5px;
        content: "";
        height: 12px;
        background-color: #fbdc4d;
        z-index: -1;
    }

    @media (min-width: 768px) {
        &::before {
            bottom: 10px;
        }
    }

    @media (min-width: 1200px) {
        &::before {
            bottom: 20px;
        }
    }
}

.content-desc__text-wrapper {
    max-width: 500px;
    margin-bottom: 10px;
}

.content-desc p {
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    line-height: 1.7;

    @media (min-width: 1200px) {
        font-size: 24px;
        line-height: 1.4;
    }
}

& p::selection {
    background-color: #fbdc4d;
}

.content-desc__button-wrapper .button {
    margin-right: 15px;

    &:last-child {
        margin-right: 0;
    }
}

.section-header__img-wrapper {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    max-width: 1600px;
    margin-top: -60px;

    @media (min-width: 1200px) {
        margin-top: -130px;
    }
}

.section-about {
    padding-top: 60px;
    margin-top: -60px;
}

.section-about__content {

    @media (min-width: 768px) {
        display: flex;
        justify-content: space-between;
    }
}

.about-skills {

    @media (min-width: 768px) {
        width: 48%;
    }

    @media (min-width: 1200px) {
        width: auto;
    }
}

.about-skills__header {
    margin-bottom: 30px;

    @media (min-width: 1200px) {
        margin-bottom: 35px;
    }
}

.about-communication__header {
    margin-bottom: 15px;
    font-size: 30px;
    line-height: 1;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    color: #000;

    @media (min-width: 768px) {
        font-size: 32px;
    }

    @media (min-width: 1200px) {
        font-size: 40px;
        margin-bottom: 30px;
    }
}

.about-skills__list {
    margin-bottom: 40px;
}

.about-skills__list-item {
    margin-bottom: 14px;
    font-size: 18px;
    line-height: 1.2;
    color: #000;

    &:last-child {
        margin-bottom: 0;
    }

    @media (min-width: 1200px) {
        margin-bottom: 3px;
        font-size: 24px;
        line-height: 1.5;

        &::before {
            content: "— ";
        }
    }
}

.about-communication {


    @media (min-width: 768px) {
        width: 48%;
    }

    @media (min-width: 1200px) {
        width: auto;
    }
}

.block-socials--about {
    margin-bottom: 5px;

    @media (min-width: 768px) {
        margin-bottom: 10px;
    }

    @media (min-width: 1200px) {
        margin-bottom: 15px;
    }
}

.about-communication__mail {
    font-size: 18px;
    color: #000;
    border-bottom: 1px solid #000;

    &:hover {
        color: #039be5;
        border-bottom: 1px solid #039be5;
    }

    &:active {
        color: #ea736d;
        border-bottom: 1px solid #ea736d;
    }

    @media (min-width: 768px) {
        font-size: 20px;
    }

    @media (min-width: 1200px) {
        font-size: 24px;
    }
}

.header-inner {
    padding-top: 20px;
        
    @media (min-width: 1200px) {
        padding-top: 60px;
    }
}
