.dark {
    background-color: #f4f8f9;

    @media (min-width: 1200px) {
    .footer-inner {
        background-color: #f4f8f9;
    }
}
}

.section-portfolio {
    padding-top: 45px;
    padding-bottom: 50px;
    background-color: #f4f8f9;
    z-index: 10;

    @media (min-width: 768px) {
        padding-top: 60px;
        padding-bottom: 30px;
        display: flex;
        align-items: center;
    }

    @media (min-width: 1200px) {
        display: block;
        padding-top: 100px;
        padding-bottom: 50px;
    }
}

.section-portfolio__title {
    margin-bottom: 40px;

    @media (min-width: 390px) {
        text-align: center;
    }

    @media (min-width: 768px) {
        text-align: left;
    }
        
    @media (min-width: 1200px) {
        margin-bottom: 50px;
    }
}

.portfolio-pagination {
    display: none;

    @media (min-width: 768px) {
        display: block;
        margin-bottom: 45px;
    }
}

.pagination__item {

    @media (min-width: 768px) {
        display: inline-block;
        margin-right: 45px;
        font-size: 24px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 800;
        color: #8fa5ae;

        &:last-child {
            margin-right: 0;
        }

        &:hover {
            color: #ef9895;
        }   
    }
        
    @media (min-width: 1200px) {
        margin-right: 80px;
        font-size: 28px;
    }
}

.pagination__item.active {
    color: #000;
}

.section-portfolio__row {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10;
    margin-bottom: 40px;

    @media (min-width: 768px) {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 35px;
        width: 708px;
        flex-direction: row;
        align-items: start;
        flex-wrap: wrap;
    }
        
    @media (min-width: 1200px) {
        margin-bottom: 0;
        width: 1140px;
    }
}

.mix {
    display: none;
}




